/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: "Parisienne";
  src: url("/fonts/Parisienne-Regular.woff2") format("woff2"),
    url("/fonts/Parisienne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  /* .min-h-iphone-safe {
    
  } */
}

main {
  /* height: calc(100vh - 10 * env(safe-area-inset-bottom)); */

  margin-top: env(safe-area-inset-bottom);
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  overflow: overlay;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(255, 255, 255, 0.301);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: rgba(10, 19, 33, 0.7);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.301);
}
