/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: "Parisienne";
  src: url("/fonts/Parisienne-Regular.woff2") format("woff2"),
    url("/fonts/Parisienne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  /* .min-h-iphone-safe {
    
  } */
}

main {
  /* height: calc(100vh - 10 * env(safe-area-inset-bottom)); */

  margin-top: env(safe-area-inset-bottom);
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
